on:
  schedule:
    - cron: "0 22 * * 0" # UTC Time
  workflow_dispatch:

name: Export bugphyzz 

jobs:
  export-bugphyzz:
    runs-on: ubuntu-latest
    container: bioconductor/bioconductor_docker:devel
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:

      - name: Install git-lfs
        run: apt update && apt install git-lfs

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Install R dependencies
        run: |
          pkgs <- c("BiocFileCache",
                    "castor",
                    "logr",
                    "phytools",
                    "purrr",
                    "tibble",
                    "tidyr",
                    "waldronlab/bugphyzzExports")
          BiocManager::install(pkgs, dependencies = TRUE)
        shell: Rscript {0}

      # Copied and adapted from https://github.com/waldronlab/BugSigDBExports/blob/5cb9151b8bea35f1cd104df5879a9d405cce1574/.github/workflows/export-bugsigdb.yml#L41C1-L57C15
      - name: Commit Exports
        run: |
          cd $GITHUB_WORKSPACE/bugphyzzExports
          for export in `find . -type f -iname \*.gmt -o -iname \*.csv`
          do
            export=$(echo $export | sed 's/\.\///g')
            git_diff=$(git diff --numstat $export | sed -e 's/\t//g')
            if [ "$git_diff" = "11$export" -o "$git_diff" = "" ]; then
                echo "No changes to commit for $export"
            else
                echo "Commit changes for $export"
                git add *.csv *.gmt *.log
                git commit -m "Hourly export update"
                git push origin devel
                break
            fi
          done
