on:
  schedule:
    - cron: "0 22 * * 0" # UTC Time
  workflow_dispatch:

name: Export bugphyzz 

jobs:
  export-bugphyzz:
    runs-on: ubuntu-latest
    container: bioconductor/bioconductor_docker:devel
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          path: bugphyzzExports

      - name: Install dependencies
        run: |
          pkgs <- c("waldronlab/bugsigdbr", "logr", "BiocFileCache", "tidyverse", "BiocParallel", "sdgamboa/taxPPro", "waldronlab/bugphyzz", "waldronlab/bugphyzzExports")
          BiocManager::install(pkgs, dependencies = TRUE)
        shell: Rscript {0}

      - name: Export bugphyzz
        run: |
          cd $GITHUB_WORKSPACE/bugphyzzExports
          rm *.gmt
          Rscript inst/scripts/export_bugphyzz.R

      - name: Commit Exports
        run: |
          cd $GITHUB_WORKSPACE/bugphyzzExports
          ls -la
          git config user.name "GitHub Actions Bot"
          git config user.email "actions@github.com"
          git add *.gmt *.bz2 *.log *.msg
          git commit -m "Weekly export update"
          git push
